<!DOCTYPE html>
<html>
    <head><% include partials/head.ejs %></head>
    <body>
        <% include partials/header.ejs %>
        <div class="container-fluid">
            <div class="jumbotron myBanner">
                <h2>
                    Your one-stop guide to the <br>
                    Top Five Football Leagues in the world.
                </h2>
            </div>

            <div class="row">
                <div class="col-lg-2 col-lg-offset-1 col-md-4 col-sm-6 col-xs-12">
                        <a href="/leagues/La_Liga" class="thumbnail">
                            <img src="http://content.sportslogos.net/leagues/thumbs/130.gif" alt="La Liga" class="img-responsive center-block">
                        </a>
                        <div class="caption homeBottomSpace">
                            <h3>Spanish<br>La Liga</h3>
                        </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                        <a href="/leagues/Serie_A" class="thumbnail">
                            <img src="http://content.sportslogos.net/leagues/thumbs/128.gif" alt="Serie A" class="img-responsive center-block">
                        </a>
                        <div class="caption homeBottomSpace">
                            <h3>Italian<br>Serie A</h3>
                        </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                        <a href="/leagues/Ligue_1" class="thumbnail">
                            <img src="http://content.sportslogos.net/leagues/thumbs/129.gif" alt="Ligue 1" class="img-responsive center-block">
                        </a>
                        <div class="caption homeBottomSpace">
                            <h3>French<br>Ligue 1</h3>
                        </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                        <a href="/leagues/Premier_League" class="thumbnail">
                            <img src="http://content.sportslogos.net/leagues/thumbs/220.gif" alt="Premier League" class="img-responsive center-block">
                        </a>
                        <div class="caption homeBottomSpace">
                            <h3>English<br>Premier League</h3>
                        </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                        <a href="/leagues/Bundesliga" class="thumbnail">
                            <img src="http://content.sportslogos.net/leagues/thumbs/132.gif" alt="Bundesliga" class="img-responsive center-block">
                        </a>
                        <div class="caption homeBottomSpace">
                            <h3>German<br>Bundesliga</h3>
                        </div>
                </div>
            </div>
        </div>
    </body>
</html>